* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #EE6D33;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

label{
    cursor: pointer;
}

.btn-row-grp {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 5px 10px;
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
}

input,
textarea {
    border: 1px solid rgb(63, 63, 63);
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 10px;
}

.uni-btns {
    padding: 8px 15px;
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
}

.t-center {
    text-align: center;
}

.section {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.inp-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.admin-layout {
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 100%;
    height: 100vh;
}

.admin-layout .admin-sidebar {
    height: 100vh;
    overflow-y: auto;
    background-color: #250451;
}

.admin-layout .admin-content {
    overflow-y: auto;
    height: 100vh;
    background-color: rgb(240, 255, 250);
}

.admin-content .admin-topbar {
    padding: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.admin-content .admin-main {
    height: calc(100vh - 60px);
    padding: 20px;
    overflow-y: auto;
}

.admin-main .admin-children{
    max-width: 1200px;
    margin: auto;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.side-nav .side-navlink {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.248);
    border-radius: 5px;
}


.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upd-btn {
    padding: 20px 0;
}

.user-table {
    width: 100%;
}

.listPage .search {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.search .ser-inp {
    position: relative;
}

.ser-inp input {
    padding-left: 35px;
}

.ser-inp i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    opacity: .6;
}

.user-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.user-table table td,
.user-table table th {
    padding: 15px;
}

.user-table tbody tr:hover {
    background-color: rgb(243, 243, 243);
}

.oprts {
    display: flex;
    gap: 10px;
}

.oprts .act-icon {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50px;
    display: grid;
    place-content: center;
    font-size: 12px;
    color: rgb(15, 15, 15);
    cursor: pointer;
}

.catg-grig {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.catg-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.prod-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.prod-form .form-left,
.prod-form .form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catg-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catg-inp input {
    display: none;
}

.catg-inp label {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 3px;
    margin: 3px;
}

.catg-inp .cust-cbox {
    width: 20px;
    height: 20px;
    border: 1px solid #237bba66;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    display: grid;
    place-content: center;
}

.catg-inp input:checked ~ label .cust-cbox{
    background: #237ABA;
}

.prd-img img{
    width: 100%;
    aspect-ratio: 5/4;
}