* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #EE6D33;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
}

:disabled{
    cursor: not-allowed;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

input,
textarea {
    border: 1px solid rgb(63, 63, 63);
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 10px;
}

.uni-btns {
    padding: 8px 15px;
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.err-msg {
    font-size: 13px;
    color: red;
}

.inp-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accept-div {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.main-header {
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.main-body {
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.header-sec {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100%;
}

.header-sec .nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-bar .nav-btns {
    display: flex;
    gap: 20px;
}

.home-page {
    height: 300vh;
}

.cred-page {
    padding: 50px;
}

.cred-page .cred-form {
    max-width: 500px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
}

.cred-form .form-title {
    margin-bottom: 20px;
    color: var(--orange);
    font-weight: 500;
}

.cred-form .form-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pwd-field{
    position: relative;
}

.pwd-field input{
    padding-right: 40px;
    width: 100%;
}

.pwd-field .pwd-eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.cred-form .note {
    margin-top: 15px;
}

.note a {
    color: var(--orange);
}